<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.betarec.data.dao.DbReader">
    <select id="getMaxMovieId" resultType="int">
        SELECT MAX(movieId)
        FROM movies;
    </select>

    <select id="getMinMovieId" resultType="int">
        SELECT MIN(movieId)
        FROM movies;
    </select>

    <select id="getMovieIds" resultType="int">
        SELECT movieId
        FROM movies
        WHERE movieId &gt;= #{beginMovieId}
            AND movieId &lt;= #{endMovieId}
    </select>

    <select id="getMaxUserId" resultType="int">
        SELECT MAX(userId)
        FROM ratings;
    </select>

    <select id="getMinUserId" resultType="int">
        SELECT MIN(userId)
        FROM ratings;
    </select>

    <select id="getUserIds" resultType="int">
        SELECT DISTINCT(userId)
        FROM ratings
        WHERE userId &gt;= #{beginUserId}
            AND userId &lt;= #{endUserId}
    </select>

    <select id="getUsersRatings" resultType="gen.data.pojo.Rating">
        SELECT userId, movieId, rating, UNIX_TIMESTAMP(timestamp) timestamp
        FROM ratings
        WHERE userId IN
        <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>

    <select id="getRangeMovies" resultType="gen.data.pojo.Movie">
        SELECT movieId, title, genres, year
        FROM movies
        WHERE movieId >= #{beginMovieId}  AND movieId &lt; #{endMovieId}
    </select>


    <select id="getMovies" resultType="gen.data.pojo.Movie">
        SELECT *
        FROM movies
        WHERE movieId IN
        <foreach collection="movieIds" item="movieId" open="(" close=")" separator=",">
            #{movieId}
        </foreach>
    </select>
    <select id="getLinks" resultType="gen.data.pojo.Link">
        SELECT *
        FROM links
        WHERE movieId IN
        <foreach collection="movieIds" item="movieId" open="(" close=")" separator=",">
            #{movieId}
        </foreach>
    </select>
    <select id="getGenomeTags" resultType="gen.data.pojo.GenomeTag">
        SELECT *
        FROM genome_tags
        WHERE tagId IN
        <foreach collection="tagIds" item="tagId" open="(" close=")" separator=",">
            #{tagId}
        </foreach>
    </select>

    <select id="getGenomeScoresByMovieId" parameterType="int" resultType="gen.data.pojo.GenomeScore">
        SELECT *
        FROM genome_scores
        WHERE movieId = #{movieId};
    </select>

    <select id="getGenomeScoresByTagId" parameterType="int" resultType="gen.data.pojo.GenomeScore">
        SELECT *
        FROM genome_scores
        WHERE tagId = #{tagId};
    </select>

    <select id = "getRatingsByUserId" parameterType="int" resultType="gen.data.pojo.Rating">
        SELECT userId, movieId, rating, UNIX_TIMESTAMP(timestamp)
        FROM ratings
        WHERE userId = ${userId}
    </select>

    <select id = "getRatingsByMovieId" parameterType="int" resultType="gen.data.pojo.Rating">
        SELECT userId, movieId, UNIX_TIMESTAMP(timestamp)
        FROM ratings
        WHERE movieId = ${userId}
    </select>

    <select id="getTagsByUserId" parameterType="int" resultType="gen.data.pojo.Tag">
        SELECT userId, movieId, tag, UNIX_TIMESTAMP(timestamp)
        FROM tags
        WHERE userId = ${userId}
    </select>

    <select id="getTagsByMovieId" parameterType="int" resultType="gen.data.pojo.Tag">
        SELECT userId, movieId, tag, UNIX_TIMESTAMP(timestamp)
        FROM tags
        WHERE movieId = ${movieId}
    </select>

</mapper>