<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.betarec.data.DbWriter">
    <insert id="insertGenomeTag" parameterType="com.betarec.pojo.GenomeTag">
        INSERT INTO MovieLens.genome_tags (tagId, tag)
        VALUES (#{tagId}, #{tag});
    </insert>
    <insert id="insertLink" parameterType="com.betarec.pojo.Link">
        INSERT INTO MovieLens.links (movieId, imdbId, tmdbId)
        VALUES (#{movieId}, #{imdbId}, #{tmdbId});
    </insert>
    <insert id="insertMovie" parameterType="com.betarec.pojo.Movie">
        INSERT INTO MovieLens.movies (movieId, title, genres, year)
        VALUES (#{movieId}, #{title}, #{genres}, #{year});
    </insert>
    <insert id="insertTag" parameterType="com.betarec.pojo.Tag">
        INSERT INTO MovieLens.tags (userId, movieId, tag, timestamp)
        VALUES (#{userId}, #{movieId}, #{tag}, #{timestamp})
        ON DUPLICATE KEY
        UPDATE `timestamp` = #{timestamp};
    </insert>

    <!--批量写入-->
    <insert id="insertRatings">
        INSERT INTO MovieLens.ratings (userId,movieId,rating,timestamp)
        VALUES
        <foreach collection="ratings" item="item" close=";" separator=",">
            (#{item.userId}, #{item.movieId}, #{item.rating}, #{item.timestamp})
        </foreach>
    </insert>
    <insert id="insertGenomeScores">
        INSERT INTO MovieLens.genome_scores (movieId, tagId, relevance)
        VALUES
        <foreach collection="scores" item="item" close=";" separator=",">
            (#{item.movieId}, #{item.tagId}, #{item.relevance})
        </foreach>
    </insert>
    <insert id="insertLinks">
        INSERT INTO MovieLens.links (movieId, imdbId, tmdbId)
        VALUES
        <foreach collection="links" item="item" close=";" separator=",">
            (#{item.movieId}, #{item.imdbId}, #{item.tmdbId})
        </foreach>
    </insert>
    <insert id="insertMovies">
        INSERT INTO MovieLens.movies (movieId, title, genres, year)
        VALUES
        <foreach collection="movies" item="item" close=";" separator=",">
            (#{item.movieId}, #{item.title}, #{item.genres}, #{item.year})
        </foreach>
    </insert>
    <insert id="insertTags">
        INSERT INTO MovieLens.tags (userId, movieId, tag, timestamp)
        VALUES
        <foreach collection="tags" item="item" close=";" separator=",">
            (#{item.userId}, #{item.movieId}, #{item.tag}, #{item.timestamp})
        </foreach>

    </insert>
    <insert id="insertGenomeTags">
        INSERT INTO MovieLens.genome_tags (tagId, tag)
        VALUES
        <foreach collection="genomeTags" item="item" close=";" separator=",">
            (#{item.tagId}, #{item.tag})
        </foreach>
    </insert>
</mapper>
