<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.betarec.data.DbWriter">
    <insert id="insertGenomeTag" parameterType="com.betarec.pojo.GenomeTag">
        INSERT INTO MovieLens.genome_tags (tagId, tag)
        VALUES (#{tagId}, #{tag});
    </insert>
    <insert id="insertGenomeScore" parameterType="com.betarec.pojo.GenomeScore">
        INSERT INTO MovieLens.genome_scores (movieId, tagId, relevance)
        VALUES (#{movieId}, #{tagId}, #{relevance});
    </insert>
    <insert id="insertLink" parameterType="com.betarec.pojo.Link">
        INSERT INTO MovieLens.links (movieId, imdbId, tmdbId)
        VALUES (#{movieId}, #{imdbId}, #{tmdbId});
    </insert>
    <insert id="insertMovie" parameterType="com.betarec.pojo.Movie">
        INSERT INTO MovieLens.movies (movieId, title, genres, year)
        VALUES (#{movieId}, #{title}, #{genres}, #{year});
    </insert>
    <insert id="insertRating" parameterType="com.betarec.pojo.Rating">
        INSERT INTO MovieLens.ratings (userId, movieId, rating, timestamp)
        VALUES (#{userId}, #{movieId}, #{rating}, #{timestamp});
    </insert>
</mapper>
